{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{ss}} - Famehub by FolioFame{% endblock %}
{% block mdesc %}Hub of every noticeable trend on {{ss}}, in human-digestible ways.{% endblock %}
{% block ogtitle %}{{ss}} {% if companyName %}({{companyName}}){%endif%}{% endblock %}
{% block ogdesc %}Knowledgeable investing with AI. Hub of every noticeable trend for {{ss}}, in human-digestible ways.{% endblock %}
{% block ogimage %}https://storage.googleapis.com/iex/api/logos/{{ss}}.png{% endblock %}

{% block header %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data-2012-2022.min.js"></script>
        <script src="//twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script src="{% static 'js/js_int_to_str.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/highstock.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/themes/dark-unica.js"></script>
        <script src="{% static 'js/Chart.Bands.js' %}?v2"></script>
        <script src="{% static 'js/js_drawFixedChartjs.js' %}?v2"></script>
        <script src="{% static 'js/js_drawIEXLine.js' %}?v2"></script>
        <script src="{% static 'js/js_getLastSS.js' %}?v2"></script>
        <script src="{% static 'js/js_getFameHub.js' %}?v4"></script>
        <script src="{% static 'js/js_watch_toggle.js' %}?v3"></script>
        <script>
        $(document).ready(function(){
            {% if ss %}
            getFFScanned("{{ss}}");
            {% if is_SP500 %}
            getBestEver("{{ss}}");
            {% endif %}
            $.getJSON('https://api.iextrading.com/1.0/stock/{{ss}}/logo', function(data) {
                $("#maintext-symbol-logo").html('<img class="img-thumbnail mx-auto d-block gs" src="'+data.url+'" onerror="if (this.src!=\'/static/img/err.png\') this.src=\'/static/img/err.png\'"/>');
            });
            getIEXQuote("{{ss}}");
            //getFameSense0("{{ss}}");
            //getIEXnewsFH("{{ss}}");
            drawFixed("{{ss}}");
            drawIEX("{{ss}}", "chart-hc-candle");
            getFameSense("{{ss}}", "chart-sense");
            {% endif %}
            
            {% if last_ss %}{% for r in last_ss %}
            getLastSS('{{r.symbol}}');
            {% endfor %}{% endif %}
            $('.chart-nav').click(function() {
            	$('.chart-nav').removeClass('active');
                $(this).addClass('active');
                if ($(this).text()=='1d') {
                    $('#chart-js-line').show();
                    $('#chart-hc-candle').hide();
                } else {
                    $('#chart-js-line').hide();
                    $('#chart-hc-candle').show();
                    $('#chart-hc-candle').highcharts().reflow();
                }
            });
            $('#SSpy li a[href^="#"]').on('click', function(e){
                e.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top-80
                }, 300, function(){
                    window.location.has = hash;
                });
            });
        });
        </script>
{% endblock header %}


{% block body %}
<div class="container my-5">
    
    <div id="home"></span>
    <div class="d-none d-md-block">
    <div class="float-right">
    {% if last_ss %}
    <div class="table-responsive mt-3 d-none d-md-block"><div style="white-space:nowrap;">{% for s in last_ss %}
    <a class="btn btn-sm btn-outline btn-default" id="recent-{{s.sym_id}}-color" href="/fh/{{s.symbol}}/">{{s.symbol}}<span id="recent-{{s.sym_id}}-chp"></span></a>
    {% endfor %}
    </div></div>
    {% endif %}
    </div>
    <h3>FameHub</h3>
    <p class="d-none d-lg-block">Hub of every noticeable trend</p>
    </div>

    {% include "snippets/message_collapsable.html" with messages=messages %}


    {% if ss %}
    <div class="card my-3 pt-1 bg-dark">
        <div class="row align-items-center">
            <div class="col-md-4 d-none d-md-block">
                <div class="text-center display-4 nw">{{ss}}</div>
                <div class="text-center mb-3" id="maintext-symbol-logo"></div>
            </div> 
            <div class="col-md-8 px-3">
                <div class="float-right pr-2">
                    <span class="text-light cp {% if watching > 0 %}d-none{%endif%}" id="w-icon-add" onclick="toggleWatch('{{ss}}','add',['w-icon-add','w-btn-add'],['w-icon-drop','w-btn-drop'],'{{csrf_token}}',{{user.is_authenticated|lower}},'{{request.path}}');"><i class="fa fa-eye"></i></span>
                    <span class="text-warning cp {% if watching == 0 %}d-none{%endif%}" id="w-icon-drop" onclick="toggleWatch('{{ss}}','drop',['w-icon-add','w-btn-add'],['w-icon-drop','w-btn-drop'],'{{csrf_token}}',{{user.is_authenticated|lower}},'{{request.path}}');"><i class="fa fa-eye"></i></span>
                </div>
                <div class="row px-2">
                    <div class="col-12 my-3">
                        <span class="d-md-none font-weight-bold mr-3">{{ss}}</span>
                        <span id="maintext-symbol-title"></span>
                    </div>
                    <div class="row col-12">
                    <span class="col-6 col-lg-4 nw p-2">
                        <span id="maintext-symbol-close"></span>
                        <small>(<span id="maintext-symbol-chp"></span>)</small>
                    </span>
                    <span class="col-6 col-lg-4 nw p-2">
                        <sup>YTD</sup> <span id="maintext-symbol-ytd"></span>
                    </span>
                    <span class="col-6 col-lg-4 nw p-2">
                        <sup>PE</sup> <span id="maintext-symbol-pe"></span>
                    </span>
                    <span class="col-6 nw p-2">
                        <sup>MarketCap</sup> <span id="maintext-symbol-cap"></span>
                        <small>(<span id="maintext-symbol-capchp"></span>)</small>
                    </span>
                    <span class="col-6 nw p-2 d-none d-lg-inline-block">
                        <sup>52-week</sup> <span id="maintext-symbol-52w"></span>
                    </span>
                    <a class="col-6 nw p-2 d-none cp text-light" id="maintext-symbol-sense-wrap" href='/fh/sense/{{ss}}/'>
                        <sup>Sentiments</sup> <span id="maintext-symbol-sense"></span> <i class="fas fa-angle-double-right"></i>
                    </a>
                    <a class="col-6 nw p-2 d-none cp text-light" id="maintext-symbol-drift-wrap" href='/fh/sense/{{ss}}/'>
                        <sup>Drift</sup> <span id="maintext-symbol-drift"></span> <i class="fas fa-angle-double-right"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="my-5" id="chart-container">
        <div class="float-right">
            <span id="btn-chart-js" class="btn btn-sm btn-secondary chart-nav active">1d</span>
            <span id="btn-chart-hc" class="btn btn-sm btn-secondary chart-nav" onclick="$('#chart-hc-candle').highcharts().rangeSelector.clickButton(0,true);">1m</span>
            <span id="btn-chart-hc" class="btn btn-sm btn-secondary chart-nav" onclick="$('#chart-hc-candle').highcharts().rangeSelector.clickButton(1,true);">3m</span>
            <span id="btn-chart-hc" class="btn btn-sm btn-secondary chart-nav" onclick="$('#chart-hc-candle').highcharts().rangeSelector.clickButton(2,true);">6m</span>
            <span id="btn-chart-hc" class="btn btn-sm btn-secondary chart-nav" onclick="$('#chart-hc-candle').highcharts().rangeSelector.clickButton(3,true);">YTD</span>
            <span id="btn-chart-hc" class="btn btn-sm btn-secondary chart-nav" onclick="$('#chart-hc-candle').highcharts().rangeSelector.clickButton(4,true);">1y</span>
            <span id="btn-chart-hc" class="btn btn-sm btn-secondary chart-nav" onclick="$('#chart-hc-candle').highcharts().rangeSelector.clickButton(5,true);">all</span>
        </div>
        <div id="chart-js-line" style="height:300px;width:100%">
            <canvas id="chart-fix1d-chartjs"></canvas>
        </div>
        <div id="chart-hc-candle" class="my-5 collapse" style="height: 300px; min-width: 310px"></div>
    </div>

    <div class="mt-3" id="event-top">
        <div class="col-12 px-0">
            <a class="btn btn-sm btn-outline-secondary m-1" href="/fb/dme/{{ss}}/" target="_blank"><span class="d-none d-sm-inline-block">Move</span> trend <i class="fa fa-angle-double-right"></i></a>
            <a class="btn btn-sm btn-outline-secondary m-1" href="/fb/f66/{{ss}}/" target="_blank"><span class="d-none d-sm-inline-block">Windowed</span> performance <i class="fa fa-angle-double-right"></i></a>
            <span class="btn btn-sm btn-outline-secondary m-1 {% if watching > 0 %}d-none{%endif%}" id="w-btn-add" onclick="toggleWatch('{{ss}}','add',['w-icon-add','w-btn-add'],['w-icon-drop','w-btn-drop'],'{{csrf_token}}',{{user.is_authenticated|lower}},'{{request.path}}');">add watch <i class="fa fa-eye"></i></span>
            <span class="btn btn-sm btn-outline-secondary m-1 active {% if watching == 0 %}d-none{%endif%}" id="w-btn-drop" onclick="window.open('/my/watch/','_self')">watching <i class="fa fa-angle-double-right"></i></span>
            <span class="btn btn-sm btn-outline-secondary m-1 d-none" id="btn-ahead" onclick="window.open('/fb/ahd/{{ss}}/')"></span>
        </div>
        <div class="col-12 my-3">
            <small id="maintext-txt" class="col-12 px-2"></small>
            <small id="maintext-alt" class="col-12 px-2"></small>
        </div>
    </div>

    <div class="my-3 pb-5">
        <span id="maintext-symbol-chg" class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/chg/{{ss}}/')"></span>
        <span id="maintext-symbol-vol" class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/vol/{{ss}}/')"></span>
        <span id="maintext-symbol-pfl" class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/pfl/{{ss}}/')"></span>
        <span id="maintext-symbol-cfp" class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/cfp/{{ss}}/')"></span>
        {% if is_SP500 %}
        <span id="maintext-symbol-bes" class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/bes/{{ss}}/')"></span>
        {% endif %}
        <span id="maintext-symbol-f66" class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/f6s/{{ss}}/')"></span>
        <span class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/dme/{{ss}}/')">Moving: beyond trend<i class="fa fa-angle-double-right"></i></span>
        <span class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/f66/{{ss}}/')">Performing: in 6 long-short windows <i class="fa fa-angle-double-right"></i></span>
        {% if is_SP500 %}
        <span class="btn btn-sm btn-outline-secondary m-1" onclick="window.open('/fb/bel/{{ss}}/')">Best timing in history <i class="fa fa-angle-double-right"></i></span>
        {% endif %}
    </div>

    <div id="maintext-news-section">
    <div class="my-5 d-none" id="sense-chart-container">
        <h5 class="mt-3"><a href="/fh/sense/{{ss}}/" class="text-light">Dense Sense</a>
            {% include "snippets/explain_densesense.html" with verbiage="1" %}
        </h5>
        <div style="height:300px;width:100%">
            <canvas id="chart-sense"></canvas>
        </div>
    </div>
    <div class="list-group my-5 pt-3" id="maintext-news"></div>
    </div>

    {% endif %}

    {% include "snippets/typeahead_symbol_input.html" %}
</div>
<script>
/*
var padScroll = function() {
	if ($(document).scrollTop() > 300) {
        $("#stick-pad").show();
    } else {
        $("#stick-pad").hide();
    }
};
padScroll();
$(window).scroll(padScroll);
*/
</script>
{% endblock body %}