{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{sec}} sector - FameBits{% endblock %}
{% block mdesc %}Sector insights for {{sec}}{% endblock %}
{% block ogtitle %}{{sec}} sector - spoken knowledge from data{% endblock %}
{% block ogdesc %}Sector insights covering global movement from {{sec}} major stocks{% endblock %}

{% block header %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data-2012-2022.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script src="{% static 'js/js_int_to_str.js' %}"></script>
        <script src="{% static 'js/Chart.Bands.js' %}?v2"></script>
        <script src="{% static 'js/js_drawFixedChartjs.js' %}?v2"></script>
        <script src="{% static 'js/js_getIEXbatchQNL.js' %}?v2"></script>
        <script src="{% static 'js/js_getFame66Blocks.js' %}?v3"></script>
        <script src="{% static 'js/js_getEventList_short.js' %}?v4"></script>
        <script src="{% static 'js/js_watch_toggle.js' %}?v3"></script>
        <script>
        {% if sec %}
        var slist = [{%for r in symbol_list %}'{{r.symbol}}'{%if not forloop.last%},{%endif%}{% endfor %}];
        $(document).ready(function(){
            for (s in slist) {
                getLogo(slist[s]);
            };
            getQN(slist.join(), 1);
            getSocket(slist.join());
            $.getJSON('/api/v1/famebits/sec/{{sec}}/rich/10/', function(d) {
                var t = '';
                for (i in d.bits) {
                    t = t + '<div class="list-group-item bg-dark text-light"><i class="fa fa-asterisk"></i> '+d.bits[i]+'</div>';
                }
                $("#maintext-insights").html(t);
            });
            $('[data-toggle="tooltip"]').tooltip(); 
            {% if sense_points %}
            var dd = {{sense_points|safe}};
            V = [];
            U = [];
            for (i in dd) {
                var t = (moment(dd[i]["dest_date"]).unix() )*1000;
                var v = dd[i]["sector_sense"];
                var u = dd[i]["marketcap"];
                if ( v ) {
                    V.push({t:t, y:Math.round(v*100)/100});
                }
                if ( u ) {
                    U.push({t:t, y:Math.round(u/1000000000)});
                }
            }
            $("#chart-container").removeClass('d-none')
            var ctx = document.getElementById("chart-sense");
            drawSense(ctx, V);
            var ctx = document.getElementById("chart-marketcap");
            drawPlain(ctx, U);
            {%endif%}
        });
        
        {% endif %}
        </script>
{% endblock header %}


{% block body %}
<div class="container my-5">
    <h2>
        {{sec}} Sector
    </h2>
    <p>Sharable insights on sector moves</p>

    {% include "snippets/message_collapsable.html" with messages=messages %}
    {% if sec %}
    <div class="my-5 d-none" id="chart-container">
        <h5 class="mt-3">Sector Sentiments</h5>
        <div id="chart-js-line" style="height:300px;width:100%">
            <canvas id="chart-sense"></canvas>
        </div>
        <h5 class="mt-3">Sector Marketcap <small>(in $billion's)</small></h5>
        <div id="chart-js-line" style="height:300px;width:100%">
            <canvas id="chart-marketcap"></canvas>
        </div>
    </div>

    <h3>Major contributers</h3>
    <div class="mt-4">
        {% for r in symbol_list %}
        <div class="shw-{{r.bid}} {%if r.bid > 0%}collapse{%endif%} row hvr3 bg-dark rounded my-2 py-4 px-md-2 px-lg-5">
            <div class="col-5 col-md-4 row align-items-center">
                <div class="col-12 col-md-8">
                    <a class="my-1 btn btn-sm btn-outline-secondary btn-block" href="/fh/{{r.symbol}}/" target="_blank">#{{r.rn|floatformat:"0"}} {{r.symbol}} <small class="d-none d-lg-inline-block">({{r.wt}}% of sector)</small></a>
                    <a class="my-1 btn btn-sm btn-outline-secondary text-secondary btn-block">{{r.contrib_sign}}${{r.contrib_abs}}</a>
                </div>
                <div class="col-12 col-md-4">
                    <span class="align-middle cp" id="maintext-{{r.sym_id}}-logo" onclick="window.open('/fh/{{r.symbol}}/');"></span>
                </div>
            </div>
            <div class="col-7 col-md-8 row px-0 px-md-2 px-lg-4 justify-content-end">
                <div class="d-inline-block">
                    <span class="text-light cp {%if r.w %}d-none{%endif%}" id="w-{{r.sym_id}}-add" onclick="toggleWatch('{{r.symbol}}','add','w-{{r.sym_id}}-add','w-{{r.sym_id}}-drop','{{csrf_token}}',{{user.is_authenticated|lower}},'{{request.path}}');"><i class="fa fa-eye"></i></span>
                    <span class="text-warning cp {%if not r.w %}d-none{%endif%}" id="w-{{r.sym_id}}-drop" onclick="toggleWatch('{{r.symbol}}','drop','w-{{r.sym_id}}-add','w-{{r.sym_id}}-drop','{{csrf_token}}',{{user.is_authenticated|lower}},'{{request.path}}');"><i class="fa fa-eye"></i></span>
                </div>
                <span id="maintext-{{r.sym_id}}-name" class="col-12 d-none d-sm-block"></span>
                <span id="maintext-{{r.sym_id}}-f66" class="col-12 col-sm-6 col-lg-4 col-xl-3"></span>
                <span class="col-12 col-sm-6 col-lg-8 col-xl-9 nw pt-1">
                    <small>
                        <span class="mr-1 pr-md-3" id="maintext-{{r.sym_id}}-chp"></span>
                        <span class="mr-1 pr-md-3" id="maintext-{{r.sym_id}}-close"></span>
                        <span><sup>YTD</sup><span id="maintext-{{r.sym_id}}-ytd"></span></span>
                    </small>
                </span>
                <span class="col-12">
                    {% if r.sense_desc %}
                    <a class="btn btn-sm btn-outline-{{r.sense_desc_b4color}} mr-1 my-1 py-0" href="/fh/sense/{{r.symbol}}/" target="_blank"><i class="fas fa-heartbeat mr-2 text-light"></i>{{r.sense_desc}}</a>
                    <a class="btn btn-sm btn-outline-{{r.sense_drift_b4color}} mr-1 my-1 py-0" href="/fh/sense/{{r.symbol}}/" target="_blank"><i class="fas fa-heartbeat mr-2 text-light"></i>{{r.sense_drift}}</a>
                    {% endif %}
                    <span id="maintext-{{r.sym_id}}-event"></span>
                    <span id="maintext-{{r.sym_id}}-ahead"></span>
                </span>
            </div>
            <div id="news-{{r.sym_id}}" class="col-12 my-1"></div>
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-outline-secondary" onclick="tableMore();" id="btnMore">More</button>

    <div class="list-group list-group-flush my-5" id="maintext-insights"></div>

    {% endif %}
</div>

<script>
{% regroup symbol_list by bid as symbol_batch %}
{% if sec %}
var curshow = -1;
var symStr = { {%for b in symbol_batch%}{{b.grouper}}:"{%for r in b.list%}{{r.symbol}}{%if not forloop.last%},{%endif%}{%endfor%}",{%endfor%} };
function getChartNews_str(s) {
    var p = s.split(",");
    for (i in p){
        if (p[i]) {
            getF66Blocks(p[i]);
            getEventList(p[i],90,head="",color="secondary");
        }
    }
}
function tableMore() {
    curshow = curshow + 1;
    $(".shw-"+curshow).addClass("show");
    getChartNews_str(symStr[curshow]);
    if (curshow == {{max_bid}}) {
        $("#btnMore").addClass("d-none");
    }
}
tableMore();
{% endif %}
</script>
{% endblock body %}
