{% extends 'accounts/base_login.html' %}
{% load i18n %}
{% load staticfiles %}
<!-- templates/registration/login.html -->

{% block title %}Password Reset - Email{% endblock %}

{% block body_login %}
                <div class="form-body col-9 col-md-6 col-lg-4 rounded my-2">
                    <h4>Reset your password</h4>
                    <p class="mt30">{% trans "Enter your email address below. We'll look for your account and send you a password reset email." %}</p>

                    <form method="post" class="form-signin">
                        {% csrf_token %}
                        <fieldset class="module aligned">
                            <div class="form-row field-email">

                                <label for="id_email" class="sr-only">Email address:</label>
                                <input type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="Email address" />
                            </div>
                            <input class="btn btn-lg btn-primary btn-block mt30" type="submit" value="Send Password Reset">
                        </fieldset>
                    </form>
                </div>
{% endblock body_login %}
