{% load i18n %}
{% load staticfiles %}

<html>
    <body>
        <p>
            {% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
        </p>
        <p>
            {% trans "Please go to the following page and choose a new password for" %} <b>{{ user.get_username }}</b>
        </p>
        <p>
            {% block reset_link %}
            https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            {% endblock %}
        </p>
        <h6>
            The FolioFame team
        </h6>
    </body>
</html>
